.section-title {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: #000000;
  width: 100%;
  text-align: left;
  border-bottom: 1px solid black;
  margin: 0;
  padding: 0 0 23px 0;
  max-width: 1140px;
  min-width: 284px;
}

@media screen and (max-width: 550px) {
  .section-title {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.04em;
    padding-bottom: 28px;
  }
}