.burger__menu-container {
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.4s, opacity 0.4s linear;
  z-index: 10;
}

.burger__menu-container_opened {
  visibility: visible;
  opacity: 1
}

.burger__menu {
  background: #fafafa;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: center;
  width: 520px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  list-style-type: none;
  padding: 159px 90px 90px;
  box-sizing: border-box;
  z-index: 12;
}

.burger__menu-item {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0;
  margin: 0 auto 24px auto;
}

.burger__menu-item:last-of-type {
  margin: auto auto 0 auto;
}

.burger__menu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  text-decoration: none;
  padding: 0 0 4px 0;
}

.burger__menu-link_active {
  border-bottom: 2px solid #000000;
}

.burger__menu-link_account {
  font-size: 14px;
  line-height: 16px;
}

.burger__account-logo {
  padding: 10px;
  margin-left: 10px;
  background: #F4F4F4;
  border-radius: 6px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}

@media screen and (max-width: 550px) {
  .burger__menu {
    width: 100%;
    padding: 144px 0 48px;
  }

  .burger__menu-link {
    padding-bottom: 7px;
  }

  .burger__menu-item {
    margin-bottom: 14px;
  }
}

@media screen and (min-width: 769px) {
  .burger__menu {
    display: none;
  }
}
